*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
    background: linear-gradient(120deg, rgb(41, 171, 135), rgb(152, 251, 152), rgb(158, 253, 56));
}
.containerLogin h2{
	text-align: center;
}

.containerLogin {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 10px;
    padding-right: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
    padding: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .button:hover{
    opacity: 1;
	background-color: rgb(94, 255, 161);
  }

  .form-control small {
	color: #e74c3c;
	position: absolute;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
.signIn a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
}

